a.{
	color: blue
}

h4{
	color: yellow;
}
h3{
	color: yellow;
}

nav{



	border:1pt solid #000;
	width: 500px;
	height: 100px;
	text-align: center;
	font-size: 28pt; 
	margin: 0px auto;
	float: center;
	background: linear-gradient(to right, blue,lightblue);

}
body{
background:red;
}	

	


h1{
	border:1pt solid #000;
	width: 1500px;
	height: 100px;
	background-color: green;
	text-align: center;
	font-size: 28pt; 
	margin: 0px auto;
	color:linear-gradient(to right, blue,lightblue);

}

a:visited{
	color: yellow;
	text-decoration: none;
}

img{
	height: 200px;
	width: 200px;
}

.Facebook{
	
position: relative;
bottom: -100px;

}
.NameFacebook{
	
position: relative;
left: 250px;	
font-size: 50px;
top: -80PX;
}

.Twitter{


}
.NameTwitter{
	position: relative;
left: 250px;	
font-size: 50px;
top: -180PX;

	
}
.Gmail{
	


}
.NameGmail{
		position: relative;
left: 250px;	
font-size: 50px;
top: -180PX;
}

.instagram{

}	
.NameInstagram{
	position: relative;
left: 250px;	
font-size: 50px;
top: -180PX;

}

.Phone{

}

.NamePhone{

	position: relative;
left: 250px;	
font-size: 50px;
top: -180PX;
}
	
.Street{

}
.NameStreet{
		position: relative;
left: 250px;	
font-size: 50px;
top: -180PX;

}
